/*Primary header*/
h1 {
	font-family: 'Luckiest Guy', cursive;
	color: orange;
}
/*BODY TEXT*/
p {
	font-family: 'Poiret One', cursive;
	line-height: 1.75em;
	color: #eee;
}

/*LINKS*/
a:link,
a:visited;{
border-bottom: double black;
text-transform: uppercase;
text-decoration: none;
}



/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

.color-1 {
	background: teal;
}
.color-2 {
	background: cornflowerblue;
}

/*TEXTURES*/
.pattern-1 {
	background-color: #008c8c;
	background: url(http://www.transparenttextures.com/patterns/carbon-fibre.png);
}

.pattern-1 {
	background-color: #008c8c;
	background: url(http://www.transparenttextures.com/patterns/black-linen-2.png);
}

.pattern-1 {
	background-color: #008c8c;
	background: url(http://www.transparenttextures.com/patterns/black-felt.png);
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}